<div style="background-color: white; height: 200%;" ><br>
   
      
          <h2 style="text-align: center; color: blue">My Order List!</h2>
       
        <br />
      
        <div class="panel-body" *ngIf="showItem">
        
            <h2 style="text-align: center; color: Red">{{ value }}</h2>
      
            <div class="show-Details">
              <button mat-raised-button (click)="show()" color="primary">
                Continue to Shop... 
              </button>
            </div>
            </div>


    <table>
        
        <tr  *ngFor="let laptop of newItemList" style="width: 20%;">
          <th *ngFor="let product of laptop">
   <!--<p>{{orderId}}</p>-->

   <app-order-item [productItem]="product"  [OrderId]="orderId" [customerDetails]="customer"[OrederColrer]="OrderList.indexOf(product.id) >=0" ></app-order-item>
  
   </th>
   </tr>
 

   </table>
   
  
</div>
