/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.homepage {
  color: blue;
  text-align: center;
  font: 22px;
  margin-top: 80px;
}
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
button {
  color: primary;
}
.example-sidenav-home1 {
  background-color: white;
  height: 50%;
  width: 25%;
}

input.star:checked ~ label.star:before {
  color: pink !important;
}
